* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-top: 100px;
}

.container_sec {
    height: 50%;
    width: 100%;
    padding: 0 16px;   
}

.first_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
    min-height: 200px;
    margin-left: 32px;
} @media (max-width: 991px) {
    .first_sec {
        width: 45%;
        min-height: 150px;
    }
} @media (max-width: 767px) {
    .first_sec {
        width: 100%;
        margin-left: 0;
    }
}

.first_title {
    background-color: palevioletred;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
} @media (max-width: 991px) {
    .first_title {
        width: 30%;
    }
} @media (max-width: 766px) {
    .first_title {
        width: 20%;
    }
}

.second_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
    height: 100%;
    margin: 0 32px;
    min-height: 200px;
} @media (max-width: 991px) {
    .second_sec {
        width: 45%;
        margin: 0 32px;
        min-height: 150px;
    }
} @media (max-width: 767px) {
    .second_sec {
        width: 100%;
        margin: 24px 0;
    }
}

.second_title {
    background-color: red;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
} @media (max-width: 991px) {
    .second_title {
        width: 30%;
    }
} @media (max-width: 767px) {
    .second_title {
        width: 20%;
    }
}

.third_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
    height: 100%;
    min-height: 200px;
} @media (max-width: 991px) {
    .third_sec {
        width: 100%;
        min-height: 150px;
    }
}

.third_title {
    background-color: yellowgreen;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
} @media (max-width: 991px) {
    .third_title {
        width: 15%;
    }
} @media (max-width: 767px) {
    .third_title {
        width: 20%;
    }
}

p {
    padding: 8px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}




