* {
    box-sizing: border-box;
    font-family: monospace;
}

.header {
    text-align: center;
    margin-top: 100px;
    font-size: 1.75em;
}

.container_sec {
    margin: 0 24px;
    position: absolute;
    top: 20%;
    left: 5%;
} @media (max-width: 991px) {
    .container_sec {
        left: 10%;
    }
} @media (max-width: 767px) {
    .container_sec {
        left: 0%;
    }
}

.first_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
} @media (max-width: 991px) {
    .first_sec {
        width: 40%;
    }
} @media (max-width: 767px) {
    .first_sec {
        width: 100%;
    }
}

.first_title {
    position: absolute;
    background-color: palevioletred;
    border: 1px solid black;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
    font-size: 1.25em;
} @media (max-width: 991px) {
    .first_title {
        width: 30%;
    }
} @media (max-width: 766px) {
    .first_title {
        width: 20%;
    }
}

.second_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
    left: 2%;
} @media (max-width: 991px) {
    .second_sec {
        width: 40%;
        margin-left: 32px;
        margin-bottom: 32px;
    }
} @media (max-width: 767px) {
    .second_sec {
        width: 100%;
        margin: 24px 0;
        left: 0%;
    }
}

.second_title {
    position: absolute;
    background-color: red;
    border: 1px solid black;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
    font-size: 1.25em;
} @media (max-width: 991px) {
    .second_title {
        width: 30%;
    }
} @media (max-width: 767px) {
    .second_title {
        width: 20%;
    }
}

.third_sec {
    position: relative;
    width: 30%;
    background-color: gray;
    border: 1px solid black;
    float: left;
    left: 4%;
} @media (max-width: 991px) {
    .third_sec {
        width: 86%;
        left: 0%;
    }
} @media (max-width: 767px) {
    .third_sec {
        width: 100%;
    }
}

.third_title {
    position: absolute;
    background-color: yellowgreen;
    border: 1px solid black;
    right: 0px;
    padding: 4px 16px;
    text-align: center;
    width: 40%;
    font-size: 1.25em;
} @media (max-width: 991px) {
    .third_title {
        width: 15%;
    }
} @media (max-width: 767px) {
    .third_title {
        width: 20%;
    }
}

p {
    padding: 8px;
    margin-top: 32px;
}




